$ipad-width: 768px;
$width:960px;

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1.5px solid $theme-color;
  box-shadow:9px 9px 9px 9px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $theme-font-color;
  background-color: white;
  font-weight: bold;
}

/* iPad (768px) */
@media (max-width: $ipad-width) {
  #footer {
    display: none;
  }
}