.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  
    .portfolio-content {
      background-color: white;
      box-shadow: 3px 3px 5px lightgray;
      border-radius: 10px;
      width: 80%;
      height: 400px;
      margin: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'cwTeXYen', 'Indie Flower';
      font-size: 1.5rem;
      padding: 20px;
  
  
      .portfolio-photo {
        max-width: 100%;
        height: auto;
      }
  
      iframe {
        width: 100%;
        height: 100%;
        overflow: hidden;
  
        html {
          max-height: 100%;
  
          img {
            max-height: 100%;
          }
        }
      }    
    }
  }

  .portfolio-card {
    width: 23%;
    margin: 1%;
    display: inline-block;
  
    .portfolio-card-header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'cwTeXYen', 'Indie Flower';
      font-size: 1rem;
      padding: 20px;
    }
  
    .mdc-card__media {
      max-height: 300px;
      width: auto;
    }
  }

/* The Modal (background) */
.portfolio-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  box-sizing: border-box;
  z-index: 5; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  padding-bottom: 80px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.portfolio-modal-content{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: auto;
  height: auto;
  width: 60%;
  animation-name: zoom;
  animation-duration: 0.6s;

  img{
    width: 48%;
    height: 500px;
    margin: 1%;
    border: 2px $theme-color solid;
    border-radius: 10%;
  }

  .portfolio-modal-caption {
    width: 48%;
    height: 500px;
    overflow-y: auto;
    margin: 1%;
    padding: 20px;
    font-size: 1.1rem;
    border: 2px $theme-color solid;
    border-radius: 10%;
    font-family: 'cwTeXYen', 'Indie Flower';
  }
}

  

  @keyframes zoom {
      from {transform: scale(0)}
      to {transform: scale(1)}
  }

  /* The Close Button */
  .portfolio-modal-close-btn {
      position: absolute;
      top: 30px;
      right: 35px;
      color: #bbb;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .portfolio-modal-close-btn:hover, .portfolio-modal-close-btn:focus {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }
  

/* iPad (768px) */
@media (max-width: 768px) {
    .portfolio-card {
        width: 48%;
        margin: 1%;
    }
}

/* iPhone (335px) */
@media (max-width: 501px) {
  .portfolio-card {
      width: 98%;
      margin: 1%;
  }
  
  .portfolio-modal-content{
    flex-direction: column;
    width: 100%;

    img{
      width: 98%;
      height: 500px;
      margin: 1%;
    }

    .portfolio-modal-caption {
      width: 98%;
      height: 500px;
      margin: 1%;
    }
  }
}